<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucucite.edu.finger_licken_good">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.FingerLicken_Good">
        <activity android:name=".programmer"></activity>
        <activity android:name=".chooserecipe" />
        <activity android:name=".fbeef10" />
        <activity android:name=".fbeef9" />
        <activity android:name=".fbeef8" />
        <activity android:name=".fbeef7" />
        <activity android:name=".fbeef6" />
        <activity android:name=".fbeef5" />
        <activity android:name=".fbeef4" />
        <activity android:name=".fbeef3" />
        <activity android:name=".fbeef2" />
        <activity android:name=".fbeef1" />
        <activity android:name=".epork9" />
        <activity android:name=".epork8" />
        <activity android:name=".epork7" />
        <activity android:name=".epork6" />
        <activity android:name=".epork5" />
        <activity android:name=".epork4" />
        <activity android:name=".epork3" />
        <activity android:name=".epork2" />
        <activity android:name=".epork1" />
        <activity android:name=".dvegetable10" />
        <activity android:name=".dvegetable9" />
        <activity android:name=".dvegetable8" />
        <activity android:name=".dvegetable7" />
        <activity android:name=".dvegetable6" />
        <activity android:name=".dvegetable5" />
        <activity android:name=".dvegetable4" />
        <activity android:name=".dvegetable3" />
        <activity android:name=".dvegetable2" />
        <activity android:name=".dvegetable1" />
        <activity android:name=".chicken10" />
        <activity android:name=".chicken9" />
        <activity android:name=".chicken8" />
        <activity android:name=".chicken7" />
        <activity android:name=".chicken6" />
        <activity android:name=".chicken5" />
        <activity android:name=".chicken4" />
        <activity android:name=".chicken3" />
        <activity android:name=".chicken2" />
        <activity android:name=".chicken1" />
        <activity android:name=".home" />
        <activity android:name=".StartActivity" />
        <activity android:name=".VegeStartActivity" />
        <activity android:name=".PorkStartActivity" />
        <activity android:name=".BeefStartActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>